/* variables */
:root {
    --main-color:#0C8E6F;

}
body {
    background-color: #EEF0F1;
}
header {
    background-color: #fff;
}
ul {
    list-style: none;
}
/*
nav style elements
*/

.main-nav {
   display: flex;
    color:#ffffff;
}
.main-nav > ul {  
    align-self: center;
    position: absolute;
    right: 10%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;    
}

.main-nav > h1 {
    left: 10px;
    justify-self: flex-start;
}
@media screen and (max-width:800px) {
    .main-nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main-nav > ul {
        position: initial;
    }
}
@media screen and (max-width: 500px) {
    .main-nav > ul {
      display: flex;
        flex-direction: column;
    }
}
/*
main site section
*/
#home {
    position: relative;
}
.bg-image {
    /* The image used */
    background-image: url("../images/info-section-bg.jpg");

    /* Add the blur effect */
    filter: blur(2px);
    -webkit-filter: blur(2px);

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}
/* adjust card component and movie height and align*/
.movie {
    height: 800px;
}
@media screen and (max-width: 991px){
    .movie {
        height: max-content;
        margin-bottom: 20px;

    }

}
/* remove text-decoration for links at the bottom*/
.social-link:hover {
    text-decoration: none;
}
/*
    adjust images at the footer width on small devices
 */
@media screen and (max-width: 600px) {
    .img-link {
        max-width: 140px;
    }
}
form {
    background: #ffffff;
}
